.App {
  text-align: center;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
 }
 .card{
   margin: 2rem;
   padding: 2rem;
   width: 10vw;
   height: 5vh;


 }
 img:hover{
  opacity: 3;
border: 2px solid green;
 }