.App{
    
}
.section{
    padding: 3rem 1.5rem;
    display: table;
    margin: 0 auto;
  
}
.card{
   
    color: green;
    max-width: 100%;
    position: relative;
    display: table-row;
  
    
 
   
}
h5{
    text-align: center;
    border: 2px solid green;
}